USE [master]
GO
/****** Object:  Database [db_banco]    Script Date: 22/06/2024 10:59:07 ******/
CREATE DATABASE [db_banco]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db_banco', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\db_banco.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'db_banco_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\db_banco_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_banco].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_banco]
GO
/****** Object:  Table [dbo].[cep_endereco]    Script Date: 22/06/2024 10:59:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cep_endereco](
	[cep] [varchar](8) NOT NULL,
	[logradouro] [varchar](100) NOT NULL,
	[bairro] [varchar](100) NOT NULL,
	[cidade] [varchar](100) NOT NULL,
	[uf] [varchar](2) NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
